@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    padding: 16px;
    font-family: "Poppins", sans-serif;
    background-color: rgb(234 237 240);
  }
  
  h1 {
    color: #57d0f5;
    font-size: 30px;
    text-transform: uppercase;
    margin-left: 20px;
  }
  
  input {
    padding: 16px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    border-radius: 8px;
    border: none;
  }
  
  button {
    padding: 8px 16px;
    background-color: #b4b4b42c;
    font-size: 32px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }

  button img {
    width: 40px;
    height: auto;
    padding-top: 6px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  header img {
    width: 80px;
    height: auto;
    margin-right: 20px;
  }
  
  .container {
    max-width: 520px;
    margin: 0 auto;
  }
  
  .panel {
    padding: 8px;
	  border-radius: 16px;
	  background-color: white;
  }
  
  .translation {  
    background-color: white;
    margin-bottom: 16px;
    position: relative;
  }
  
  .translation-result {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
  }
  
  .translation-text {
    font-size: 32px;
  }

  .favorite-button {
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 0;
    margin-right: 5px;
  }

  .favorite-button img {
    width: 20px;
    height: auto;
  }
  
  .translation-flag {
    position: absolute;
    font-size: 32px;
  }
  
  .controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  .controls button {
    margin: 0 5px;;
  }
  
  .text-input {
    width: 100%;
  }

  h3 {
    margin: 20px 30px; 
  }
  
  .favorites-container {
    margin-left: 30px;
  }
